@model KonusarakOgren.Quiz.MvcWebUI.Models.ExamListViewModel;
@{
    Layout = "~/Views/_Layout.cshtml";
}

<table class="table table-borderless w-100">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Tarih</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <th scope="row">@exam.ExamId</th>
                <td>@exam.ExamTitle</td>
                <td>@exam.ExamCreateDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-outline-success" href="/Exam/EnterExam/?examId=@exam.ExamId">Sınava Gir</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-controller="Exam" asp-action="Remove" asp-route-examId="@exam.ExamId">Sil</a>
                </td>
            </tr>
        }


    </tbody>
</table>